//colors

$dark-gray:       #707070;
$orange:          #df7a2c;
$green: #66CC33;

//typo

$font-stack: 'Montserrat', sans-serif;
$font-color:      $dark-gray;
$link-color:      $orange;


//Dimension

$max-width: 1920px;
$bp-large: 1110px;
$bp-medium: 768px;
$bp-small: 320px;
$spacer: 15px;